<a routerLink="/logout">Logout</a>
<div class="mud-client">
  <div class="messages">
    <li *ngFor="let message of messages">{{message}}</li>
  </div>
  <div class="command-window">
    <form #commandForm="ngForm" (ngSubmit)="onCommandSubmit()">
      <input type="text" 
             id="command" 
             required
             [(ngModel)]="command"
             name="command"
             [disabled]="!isConnected()"
             autocomplete="off">
      <button type="submit" [disabled]="!isConnected() || isCommandEmpty()">Send</button>
    </form>
  </div>
  <div class="status">
    <span class="connection-status" [ngSwitch]="websocket?.readyState">
      <span class="disconnected" *ngSwitchCase="undefined">Disconnected.</span>
      <span class="connecting" *ngSwitchCase="0">Connecting...</span>
      <span class="connected" *ngSwitchCase="1">Connected.</span>
      <span class="closing" *ngSwitchCase="2">Closing...</span>
      <span class="disconnected" *ngSwitchCase="3">Disconnected.</span>
    </span>
    <span class="auth-expired" *ngIf="authExpired">
      You are not logged in; please <a routerLink="/login">login</a>.
    </span>
  </div>
</div>